.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  float: left;
  width: 240px;
  height: 31px;
  /* margin: 16px 24px 16px 0px; */
  font-size: large;
  align-content: center;
  font-weight: bold;
}

.site-layout-background {
  background: rgba(255, 255, 255, 0);
  min-height: 90vh;
  padding: 0 5vw;
  margin-top: 2vw;
}
